{% include "partials/head.njk" %}

<header>
    <nav class="grid header">
        {% navlist collections.all | eleventyNavigation, page %}
    </nav>
</header>

<main class="grid">
    <div class="main">
    {% block content %}

        <h1>{{ description }}</h1>

        {{ content | safe }}

    {% endblock %}
    </div>

</main>

{% include "partials/foot.njk" %}