{% extends "base.njk" %}

{% block content %}

    <h1>{{ description }}</h1>

    {# <div id="ib-form-widget"></div> #}

    <div id="lead-generation-widget" silktide-height="400" silktide-width="400" silktide-fullwidth="false" silktide-noborder="false" ></div>

{% endblock %}