body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
nav ul {
    list-style: none;
    display: flex;
    background: #74828F;
    color: white;
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* default styles */
body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    background-color: #FEF6EB;
}