html, body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

/* --- default styles --- */
body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    background-color: #FEF6EB;
}

/* css grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* --- styles --- */
/* header */
.header {
    background-color: #74828F;
    color: white;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.header ul {
    padding: 14px 0;
    display: flex;
    grid-column: 4/10;
}
.header li {
    padding: 10px 0;
    margin-right: 10px;
}
.headerLeft {
    font-size: 2rem;
    grid-column: 4/6;
    font-weight: 600;
}
.headerRight {
    font-size: 1.4rem;
    grid-column: 7/13;
    padding-top: 10px;
    /* padding-left: 20px; */
}

/* main */
.main {
    grid-column: 4/10;
}